# Data Handling Using Pandas

In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("students.xlsx")

In [3]:
print('All students Data')
df

All students Data

    Name  Age  Marks
0   John   20     85
1  Alice   22     90
2    Bob   21     78
3   Sara   23     92

In [13]:
import pandas as pd

In [4]:
display(df.describe())

             Age      Marks
count   4.000000   4.000000
mean   21.500000  86.250000
std     1.290994   6.238322
min    20.000000  78.000000
25%    20.750000  83.250000
50%    21.500000  87.500000
75%    22.250000  90.500000
max    23.000000  92.000000

In [14]:
df=pd.read_csv("Final_data.csv")

In [19]:
print("All Data")
df

All Data

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,...,cal_from_macros,pct_carbs,protein_per_kg,pct_HRR,pct_maxHR,cal_balance,lean_mass_kg,expected_burn,Burns Calories (per 30 min)_bc,Burns_Calories_Bin
0,34.91,Male,65.27,1.62,188.58,157.65,69.05,1.00,1080.90,Strength,...,2139.59,0.500432,1.624789,0.741237,0.835985,725.10,47.777394,685.1600,7.260425e+19,Medium
1,23.37,Female,56.41,1.55,179.43,131.75,73.18,1.37,1809.91,HIIT,...,1711.65,0.500850,1.514093,0.551247,0.734270,-232.91,40.809803,978.6184,1.020506e+20,High
2,33.20,Female,58.98,1.67,175.04,123.95,54.96,0.91,802.26,Cardio,...,1965.92,0.500610,1.663445,0.574534,0.708124,805.74,44.635580,654.5266,1.079607e+20,High
3,38.69,Female,93.78,1.70,191.21,155.10,50.07,1.10,1450.79,HIIT,...,1627.28,0.499533,0.862017,0.744155,0.811150,1206.21,63.007432,773.6300,8.987921e+19,High
4,45.09,Male,52.42,1.88,193.58,152.88,70.84,1.08,1166.40,Strength,...,2659.23,0.500581,2.538153,0.668405,0.789751,303.60,43.347504,711.4176,5.264685e+19,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,46.77,Female,98.31,1.90,199.20,148.18,63.72,0.77,761.61,Strength,...,1882.80,0.500000,0.954837,0.623413,0.743876,1865.39,71.269345,533.2558,7.924402e+19,Medium
19996,40.38,Female,88.12,1.87,196.18,134.18,54.04,1.97,2303.13,Strength,...,1205.47,0.496968,0.689060,0.563810,0.683964,173.87,65.049689,1310.6016,5.708474e+19,Low
19997,50.31,Male,46.20,1.67,163.34,157.92,61.65,1.36,1468.80,Strength,...,1947.79,0.500280,2.105844,0.946701,0.966818,-43.80,35.420708,957.9568,9.101285e+19,High
19998,52.36,Male,44.30,1.62,179.27,121.23,60.88,1.41,929.75,Yoga,...,1921.51,0.499940,2.190745,0.509756,0.676243,346.25,35.889260,928.4004,5.246436e+19,Low
19999,29.56,Male,58.63,1.61,198.07,121.74,72.05,1.20,861.84,Yoga,...,1754.55,0.501280,1.494968,0.394302,0.614631,804.16,44.303237,841.1040,8.742467e+19,High

In [2]:
import pandas as pd

In [4]:
df=pd.read_excel("students.xlsx")

In [5]:
df

    Name  Age  Marks
0   John   20     85
1  Alice   22     90
2    Bob   21     78
3   Sara   23     92

In [8]:
top_students=df[df["Marks"]>80]
top_students

    Name  Age  Marks
0   John   20     85
1  Alice   22     90
3   Sara   23     92

In [12]:
rejected_students=df[df["Marks"]<=80]

In [13]:
rejected_students

  Name  Age  Marks
2  Bob   21     78

In [15]:
top_students.to_excel("selected_students.xlsx", index=False)
print("Filtered data saved to 'selected_students.xlsx'")

Filtered data saved to 'selected_students.xlsx'

In [17]:
rejected_students.to_excel('rejected_students.xlsx',index=False)
print('File Created')

File Created

In [24]:
data=pd.read_csv("Final_data.csv")

In [32]:
data

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,...,cal_from_macros,pct_carbs,protein_per_kg,pct_HRR,pct_maxHR,cal_balance,lean_mass_kg,expected_burn,Burns Calories (per 30 min)_bc,Burns_Calories_Bin
0,34.91,Male,65.27,1.62,188.58,157.65,69.05,1.00,1080.90,Strength,...,2139.59,0.500432,1.624789,0.741237,0.835985,725.10,47.777394,685.1600,7.260425e+19,Medium
1,23.37,Female,56.41,1.55,179.43,131.75,73.18,1.37,1809.91,HIIT,...,1711.65,0.500850,1.514093,0.551247,0.734270,-232.91,40.809803,978.6184,1.020506e+20,High
2,33.20,Female,58.98,1.67,175.04,123.95,54.96,0.91,802.26,Cardio,...,1965.92,0.500610,1.663445,0.574534,0.708124,805.74,44.635580,654.5266,1.079607e+20,High
3,38.69,Female,93.78,1.70,191.21,155.10,50.07,1.10,1450.79,HIIT,...,1627.28,0.499533,0.862017,0.744155,0.811150,1206.21,63.007432,773.6300,8.987921e+19,High
4,45.09,Male,52.42,1.88,193.58,152.88,70.84,1.08,1166.40,Strength,...,2659.23,0.500581,2.538153,0.668405,0.789751,303.60,43.347504,711.4176,5.264685e+19,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,46.77,Female,98.31,1.90,199.20,148.18,63.72,0.77,761.61,Strength,...,1882.80,0.500000,0.954837,0.623413,0.743876,1865.39,71.269345,533.2558,7.924402e+19,Medium
19996,40.38,Female,88.12,1.87,196.18,134.18,54.04,1.97,2303.13,Strength,...,1205.47,0.496968,0.689060,0.563810,0.683964,173.87,65.049689,1310.6016,5.708474e+19,Low
19997,50.31,Male,46.20,1.67,163.34,157.92,61.65,1.36,1468.80,Strength,...,1947.79,0.500280,2.105844,0.946701,0.966818,-43.80,35.420708,957.9568,9.101285e+19,High
19998,52.36,Male,44.30,1.62,179.27,121.23,60.88,1.41,929.75,Yoga,...,1921.51,0.499940,2.190745,0.509756,0.676243,346.25,35.889260,928.4004,5.246436e+19,Low
19999,29.56,Male,58.63,1.61,198.07,121.74,72.05,1.20,861.84,Yoga,...,1754.55,0.501280,1.494968,0.394302,0.614631,804.16,44.303237,841.1040,8.742467e+19,High

# # filter data of persons whose weight greater than 60 Kg We want only Age,Gender,Weight,Protein_per_Kg

In [45]:
selected_data=data[data['Weight (kg)']>60]
selected_data

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,...,cal_from_macros,pct_carbs,protein_per_kg,pct_HRR,pct_maxHR,cal_balance,lean_mass_kg,expected_burn,Burns Calories (per 30 min)_bc,Burns_Calories_Bin
0,34.91,Male,65.27,1.62,188.58,157.65,69.05,1.00,1080.90,Strength,...,2139.59,0.500432,1.624789,0.741237,0.835985,725.10,47.777394,685.1600,7.260425e+19,Medium
3,38.69,Female,93.78,1.70,191.21,155.10,50.07,1.10,1450.79,HIIT,...,1627.28,0.499533,0.862017,0.744155,0.811150,1206.21,63.007432,773.6300,8.987921e+19,High
5,53.19,Female,105.05,1.84,176.52,130.60,61.84,0.69,453.33,Yoga,...,1369.66,0.498985,0.646549,0.599581,0.739860,2313.67,71.382458,516.8928,1.505159e+20,Very High
7,55.92,Female,84.07,1.63,183.87,141.12,51.79,1.01,727.81,Yoga,...,2105.25,0.498886,1.253836,0.676333,0.767499,1463.19,57.093470,734.3912,1.179846e+20,Very High
8,24.11,Female,88.58,1.79,176.78,154.07,65.19,1.76,2062.37,Strength,...,1383.27,0.500495,0.783924,0.796487,0.871535,524.63,64.338094,1230.2752,8.550761e+19,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19992,28.59,Female,68.43,1.70,189.81,150.29,60.09,0.77,761.61,Strength,...,1645.29,0.501407,1.200058,0.695344,0.791792,1119.39,50.312438,512.5120,5.730938e+19,Low
19993,28.52,Female,87.72,1.89,199.01,136.63,53.80,1.75,2500.57,HIIT,...,2271.95,0.498761,1.297424,0.570415,0.686548,211.43,62.146992,1309.1050,1.487847e+20,Very High
19994,39.38,Male,64.13,1.69,189.94,147.87,58.17,1.25,900.00,Yoga,...,2486.17,0.498663,1.939498,0.680732,0.778509,1062.00,48.319385,627.0000,5.692632e+18,Low
19995,46.77,Female,98.31,1.90,199.20,148.18,63.72,0.77,761.61,Strength,...,1882.80,0.500000,0.954837,0.623413,0.743876,1865.39,71.269345,533.2558,7.924402e+19,Medium
19996,40.38,Female,88.12,1.87,196.18,134.18,54.04,1.97,2303.13,Strength,...,1205.47,0.496968,0.689060,0.563810,0.683964,173.87,65.049689,1310.6016,5.708474e+19,Low

In [48]:
select_data=data[data['Weight (kg)']>60]
final_data=select_data[['Age','Gender','Weight (kg)','protein_per_kg']]
final_data

         Age  Gender  Weight (kg)  protein_per_kg
0      34.91    Male        65.27        1.624789
3      38.69  Female        93.78        0.862017
5      53.19  Female       105.05        0.646549
7      55.92  Female        84.07        1.253836
8      24.11  Female        88.58        0.783924
...      ...     ...          ...             ...
19992  28.59  Female        68.43        1.200058
19993  28.52  Female        87.72        1.297424
19994  39.38    Male        64.13        1.939498
19995  46.77  Female        98.31        0.954837
19996  40.38  Female        88.12        0.689060

[14169 rows x 4 columns]

In [51]:
final_data.to_csv("overweight.csv", index=False)
print("Filtered data saved to 'overweight.csv'")

Filtered data saved to 'overweight.csv'

# Use patient file and display all records
# show number of rows and columns in your data set

In [89]:
pt_data=pd.read_csv("patients.csv")

In [90]:
pt_data

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
0,PAT-09484753,Richard Rodriguez,24,2025-03-16,2025-03-22,surgery,61
1,PAT-f0644084,Shannon Walker,6,2025-12-13,2025-12-14,surgery,83
2,PAT-ac6162e4,Julia Torres,24,2025-06-29,2025-07-05,general_medicine,83
3,PAT-3dda2bb5,Crystal Johnson,32,2025-10-12,2025-10-23,emergency,81
4,PAT-08591375,Garrett Lin,25,2025-02-18,2025-02-25,ICU,76
...,...,...,...,...,...,...,...
995,PAT-a01bf534,Amber Vang,26,2025-12-02,2025-12-04,emergency,91
996,PAT-87fa07bd,Martha Smith,89,2025-11-18,2025-11-30,emergency,99
997,PAT-8f07e894,Jennifer James,72,2025-12-12,2025-12-21,ICU,69
998,PAT-4ae301e1,Kara Hernandez,47,2025-02-08,2025-02-20,ICU,61
999,PAT-e2ef9c5f,Lorraine Turner,64,2025-05-04,2025-05-08,general_medicine,83

# Create the list of patients,those are in ICU
# save the file with then icu_patients.csv

In [91]:
icu_patients=pt_data[pt_data['service']=='ICU']
icu_patients

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
4,PAT-08591375,Garrett Lin,25,2025-02-18,2025-02-25,ICU,76
7,PAT-5b61868c,Ashley Waller,0,2025-05-21,2025-06-04,ICU,82
10,PAT-003ce690,Larry Dixon,29,2025-01-19,2025-01-21,ICU,60
20,PAT-5e3f8747,Elizabeth Kelley,34,2025-03-29,2025-04-12,ICU,91
24,PAT-f70aeea1,Rebecca Jackson,18,2025-02-05,2025-02-18,ICU,77
...,...,...,...,...,...,...,...
990,PAT-110d5794,Travis Hull,48,2025-11-12,2025-11-18,ICU,89
992,PAT-8700b93a,Nicholas Lawrence,9,2025-10-25,2025-11-02,ICU,92
993,PAT-e5d6a9cf,Jacob Santos,76,2025-12-27,2026-01-02,ICU,96
997,PAT-8f07e894,Jennifer James,72,2025-12-12,2025-12-21,ICU,69
998,PAT-4ae301e1,Kara Hernandez,47,2025-02-08,2025-02-20,ICU,61

In [92]:
icu_patients.to_csv('icu_patients.csv', index=False)
print("File ICU patients has been created in 'icu_patients.csv'")

File ICU patients has been created in 'icu_patients.csv'